<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" />
<div id="profile-page">
    <table id="profile">
        <tr>
            <td>icona</td>
            <td id="name">{{ userInfo.name }}</td>
        </tr>
        <tr>
            <td class="infos-title">Email</td>
            <td class="infos">{{ userInfo.email }}</td>
        </tr>
        <tr>
            <td class="infos-title">Phone Number</td>
            <td class="infos">{{ userInfo.phonenumber }}</td>
        </tr>
        <tr>
            <td class="infos-title">Password</td>
            <td class="infos">********</td>
        </tr>
    </table>
</div>