#filters-div {
    margin: 20px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.filter {
    margin: 0 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
}

#event-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px;
}

.event {
    margin: 15px 20px;
    padding: 10px;
    border: 2px solid lightsteelblue;
    border-radius: 6px;
    background-color: rgb(240, 240, 240);
    width: 250px;
    min-height: 200px;
}

#event-name {
    font-weight: 900;
    font-size: large;
}

#event-date {
    font-size: smaller;
    color: dimgrey;
}

#event-place {
    padding: 0 10px;
    font-size: small;
    font-weight: 600;
    color: dimgrey;
}

#event-details {
    text-align: justify;
}

#purch-button {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}