<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" />
<mat-toolbar color="primary" class="mat-elevation-z6">
  <span><mat-icon>flight_takeoff</mat-icon>Lets visit Portugal!</span>

  <div class="spacer"></div>

  <a class="nav-links" mat-button routerLink="/">Home</a>
  <a class="nav-links" mat-button routerLink="allevents">All events</a>
  <a class="nav-links" mat-button routerLink="mycart">My cart<mat-icon>shopping_cart</mat-icon></a>
  <a class="nav-links" mat-button routerLink="register" *ngIf="currentUserExists()">Register</a>
  <a class="nav-links" mat-raised-button color="accent" routerLink="login" *ngIf="currentUserExists()">Login</a>
  <a class="nav-links" mat-raised-button color="warn" (click)="logout()" *ngIf="!currentUserExists()">Logout</a>
  <a class="nav-links" mat-mini-fab color="primary" routerLink="profile" id="profile" *ngIf="!currentUserExists()"><mat-icon>account_circle</mat-icon></a>
</mat-toolbar>
