<!DOCTYPE html>
<html>
  <head>
    <title>Create Event</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/admins/create" class="nav-link">Create admin</a>
          </li>
          <li class="nav-item">
            <a href="/admins" class="nav-link">See all Admins</a>
          </li class="nav-item">
            <a href="/persons" class="nav-link">See all the users</a></li>
          <li class="nav-item">
            <a href="/items" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1>Create New Event</h1>
      <form action="/items/create" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" required/></td>
            </tr>
	      <tr>
              <td>Details</td>
              <td><input type="text" name="details"/></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="date" name="date" required/></td>
            </tr>
            <tr>
              <td>Place</td>
              <td>
                <% if(places.length>0) { %>
                  <select id="place_id" name="place_id" required>
                  <% for(var i=0; i<places.length;i++) { %>
                    <option value="<%= places[i].name%>"><%= places[i].name%></option>
                  <% } %>
                  </select>
                  <td><a href="/places/create">Create new place</a></td>
                <% } else { %>
                  <a href="/places/create">Create new place</a>
                <% } %>
              </td>
            </tr>
            <tr>
              <td>Capacity of the event</td>
              <td><input type="number" name="capacity" /></td>
            </tr>
            <tr>
              <td>Event image</td>
              <td><input type="file" name="img" accept="image/png, image/jpeg"></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <h3><a href="/items">Watch all the events</a></h3>
  </body>
  <script src="/js/navbar.js"></script>
</html>