<!DOCTYPE html>
<html>
  <head>
    <title>Item Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <table>
        <tbody>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= item._id %></td>
            </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= item.name %></td>
          </tr>
          
          <tr>
            <td>Position</td>
            <td>:</td>
            <td>$<%= item.position %> </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>:</td>
            <td>$<%= item.price %> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/items">Watch all the events</a></h3>
  </body>
</html>